<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <style>
      body {
        font-family: sans-serif;
        margin: 2rem;
      }
      h1 {
        color: #333;
      }
      p {
        font-size: 1.2rem;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>It's me, <strong><%= name %></strong>!</p>
    <p>I make an api for login system with jwt access token and refresh token</p>
    <h2>Api added</h2>
    <code>POST /api/auth/register {username, email, password}</code><br />
    <code>GET /api/auth/verify/:token </code><br />
    <code>POST /api/auth/r/login {identifier, password} </code><br />
    <code>POST /api/auth/r/refresh cookies['refreshTokenRefresh']  </code><br />
    <code>POST /api/auth/r/logout cookies['refreshTokenLogout']  </code><br />
  </body>
</html>
